* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ececec;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.app__left {
  flex: 0.9;
  margin: 20px;
  flex-grow: 1;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCard-root, .MultiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin: 20px 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header > h1 {
  font-size: 2rem;
}

.app__dropdown {
  background-color: #ffffff !important;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

